@font-face {
    font-family: "300";
    src: url("./fonts/Poppins-Light.ttf") format("trueType");
}

@font-face {
    font-family: "400";
    src: url("./fonts/Poppins-Regular.ttf") format("trueType");
}

@font-face {
    font-family: "600";
    src: url("./fonts/Poppins-SemiBold.ttf") format("trueType");
}

@font-face {
    font-family: "700";
    src: url("./fonts/Poppins-Bold.ttf") format("trueType");
}

@font-face {
    font-family: "800";
    src: url("./fonts/Poppins-ExtraBold.ttf") format("trueType");
}

@font-face {
    font-family: "900";
    src: url("./fonts/Poppins-Black.ttf") format("trueType");
}